<%- include("partials/header") -%>
<div class="aboutContainer">
<h1><%= home %></h1>
<p><%= startingContent %></p>

<% posts.forEach(function (post) { %>
  <h1><%= post.title %></h1>
  <p><%= post.body.slice(0,100)%><a href="/posts/<%=post._id%>">Read More</a></p>
<% }); %>
<style>
  footer{
     
  }
</style>
</div>
<%- include("partials/footer") -%>
